<template>
	<v-container grid-list-lg class="pt-5 pb-5">
		<Loading text="Loading users..." v-if="is_loading" />
		
		<section class="d-flex flex-column flex-md-row align-md-center justify-md-space-between mt-5 mb-5" v-if="!is_loading">
			<h2 class="headline font-weight-bold" :class="getDarkTextColor" v-text="'Users'"></h2>
			
			<div class="d-flex flex-column flex-md-row">
				<v-text-field class="mr-sm-5" v-model="search_user" :dark="GET_DARK_MODE" color="primary" label="Search"></v-text-field>
				<v-select :items="['Name', 'Username', 'Email']" :dark="GET_DARK_MODE" color="primary" label="Sort by:" @change="sortUsers" v-model="sort_users"></v-select>
			</div>
		</section>

		<v-layout column v-if="!is_loading">
			<UserCard
				v-for="(user, index) in filteredUsers"
				:key="index"
				:id="user.id"
				:name="user.name"
				:username="user.username"
				:email="user.email"
				:favorite="false"
			/>
		</v-layout>

		<p :class="getDarkTextColor" v-html="`No user matches the name <b>${search_user}</b>`" v-if="users.length > 1 && filteredUsers.length === 0"></p>
	</v-container>
</template>

<script>
import axios from "axios"

import { mapGetters } from "vuex"
import UserCard from "@/components/UserCard"
import Loading from "@/components/Loading"

export default {
  	name: "Home",
  	
	components: {
    	UserCard,
		Loading
  	},
	
	data() {
		return {
			users: [],
			search_user: "",
			sort_users: "Name",
			is_loading: true
		}
	},

	mounted() {
		this.getUsers()
	},

	methods: {
		getUsers() {
			try {
				axios
				.get('http://jsonplaceholder.typicode.com/users')
				.then(({data}) => {
					this.users = data
					
					setTimeout(() => {
						this.is_loading = false
					}, 500)
				})
			} catch(err) {
				console.log(err)
			}
		},

		inputFilter(event) {
			this.search_user = event.target.value
		},

		sortUsers: function(event) {
			this.users.sort((a, b) => {
				if (this.sort_users === "Name") {
					return a.name > b.name ? 1 : -1
				} else if (this.sort_users === "Username") {
					return a.username > b.username ? 1 : -1
				}

				return a.email > b.email ? 1 : -1
			})
		}
	},

	computed: {
		...mapGetters(["GET_DARK_MODE"]),

		filteredUsers() {
			return this.users.filter((user) => {
				return user.name.toLowerCase().includes(this.search_user.toLowerCase()) || 
				user.username.toLowerCase().includes(this.search_user.toLowerCase()) || 
				user.email.toLowerCase().includes(this.search_user.toLowerCase())
			})
		},

		getDarkTextColor() {
            return this.GET_DARK_MODE ? 'white--text' : 'black--text'
        },
	},
};
</script>