<template>
    <v-container class="user-detail pt-5 pb-5" grid-list-lg>
        <Loading v-if="is_loading" />

        <div v-if="!is_loading">
            <div class="d-flex align-center mb-4">
                <router-link class="headline font-weight-bold" to="/" v-text="'Users'"></router-link>
                <v-icon small class="ma-2" :color="GET_DARK_MODE ? 'white' : 'black'">mdi-arrow-right</v-icon>
                <h2 class="headline font-weight-bold" :class="getDarkTextColor" v-text="name"></h2>
            </div>
            
            <section class="mb-10">
                <v-layout row wrap>
                    <UserInfo
                        title="Contact Info"
                        :username="username"
                        :email="email"
                        :phone="phone"
                        :website="website"
                    />

                    <UserInfo
                        title="Address"
                        :address="address"
                    />

                    <UserInfo
                        title="Company"
                        :company="company"
                    />
                </v-layout>
            </section>

            <section>
                <h3 :class="getDarkTextColor">Posts</h3>
                
                <v-layout row wrap>
                    <PostCard 
                        v-for="(post, index) in posts"
                        :key="index"
                        :body="post.body"
                        :title="post.title"
                    />
                </v-layout>
            </section>
        </div>
    </v-container>
</template>

<script>
import axios from "axios"
import { mapGetters } from "vuex"

import UserInfo from "@/components/UserInfo.vue"
import PostCard from "@/components/PostCard.vue"
import Loading from "@/components/Loading"

export default {
    name: "User",
  	
	components: {
    	UserInfo,
        PostCard,
        Loading
  	},

    data() {
		return {
            id        :  this.$route.params.id,
			name      : "",
            email     : "",
            address   : "",
            phone     : "",
            username  : "",
            website   : "",
            company   : {},
            posts     : [],
            is_loading: true
		}
	},

    mounted() {
        this.getUserData()
        this.getPosts()
	},

    methods: {
        getUserData() {
            try {
                axios
                .get(`http://jsonplaceholder.typicode.com/users/${this.id}`)
                .then((
                    {data: {
                        name     = "",
                        email    = "",
                        phone    = "",
                        username = "",
                        website  = "",
                        company  = {},
                        address: {
                            suite = "",
                            street = "",
                            city = "",
                            zipcode = ""
                        } = {},
                    } = {}
                }) => {
                    this.name     = name
                    this.email    = email
                    this.address  = `${suite} ${street}, ${city}, ${zipcode}`
                    this.phone    = phone
                    this.username = username
                    this.website  = website && `http://${website}`
                    this.company  = company
                })
            } catch(err) {
				console.log(err)
			}
        },

        getPosts() {
            axios
            .get(`http://jsonplaceholder.typicode.com/posts?userId=${this.id}`)
            .then(({data = []}) => {
                this.posts = data
                
                setTimeout(() => {
					this.is_loading = false
				}, 500)
            })
        }
    },

    computed: {
    	...mapGetters(["GET_DARK_MODE"]),

        getDarkTextColor() {
            return this.GET_DARK_MODE ? 'white--text' : 'black--text'
        },
  	},
}
</script>