<template>
    <v-container class="text-center text-md-left">
        <p :class="getDarkTextColor">Designed and developed with ❤️ by <a href="http://www.leonardofunez.com" target="_blank"><strong>Leonardo Funez</strong></a></p>
    </v-container>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    computed: {
    	...mapGetters(["GET_DARK_MODE"]),

        getDarkTextColor() {
            return this.GET_DARK_MODE ? 'white--text' : 'black--text'
        },
    }
}
</script>