<template>
    <v-app-bar app color="primary" dark>
        <v-container class="d-flex align-center justify-space-between" style="padding: 0 !important;">
            <router-link class="header__home" to="/">
                <v-btn text>
                    <v-icon color="white" class="mr-2">
                        mdi-home
                    </v-icon>
                    <span class="d-none d-sm-flex">Home</span>
                </v-btn>
            </router-link>

            <h1 class="headline font-weight-bold" v-text="getRouterName"></h1>
            
            <v-btn text @click="setDarkMode">
                <span class="d-none d-sm-flex">Dark mode</span>
                <v-icon class="ml-2" :color="GET_DARK_MODE ? 'yellow' : 'white'">
                    mdi-moon-waning-crescent
                </v-icon>
            </v-btn>
        </v-container>
    </v-app-bar>
</template>

<script>
import { mapActions, mapGetters } from "vuex"

export default {
    methods: {
        ...mapActions(["SET_DARK_MODE"]),

        setDarkMode(){
            this.SET_DARK_MODE(!this.GET_DARK_MODE)
        }
    },

    computed: {
    	...mapGetters(["GET_DARK_MODE"]),
        
        getRouterName() {
            return this.$route.name;
        }
  	},
}
</script>