<template>
    <div class="d-flex flex-column align-center justify-center ma-10">
        <v-progress-circular indeterminate color="primary"></v-progress-circular>
        <p class="mb-0 mt-5" v-text="text"></p>
    </div>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            default: "Loading..."
        }
    }
}
</script>