<template>
    <v-flex xs12 md4>
        <v-card height="100%" :color="getDarkBgColor">
            <v-card-title>
                <h3 :class="getDarkTextColor" v-text="title"></h3>
            </v-card-title>
            <v-card-text>
                <div :class="getDarkTextColor" v-html="body"></div>
            </v-card-text>
        </v-card>
    </v-flex>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    props: {
        body: String,
        title: String
    },

    computed: {
    	...mapGetters(["GET_DARK_MODE"]),

        getDarkTextColor() {
            return this.GET_DARK_MODE ? 'white--text' : 'black--text'
        },

        getDarkBgColor() {
            return this.GET_DARK_MODE ? '#051d49' : 'white'
        }
  	}
}
</script>