<template>
    <v-flex xs12 md4>
        <v-card height="100%" :color="getDarkBgColor">
            <v-card-title>
                <h3 :class="getDarkTextColor" v-text="title"></h3>
            </v-card-title>
            
            <v-card-text v-if="email || phone || website">
                <p><a v-if="email" v-text="email" :href="`mailto:${email}`"></a></p>
                <p><a v-if="phone" v-text="phone" :href="`tel:${phone}`"></a></p>
                <p><a v-if="website" v-text="website" :href="website" target="_blank"></a></p>
            </v-card-text>

            <v-card-text :class="getDarkTextColor" v-if="address">
                <p v-text="address"></p>
            </v-card-text>

            <v-card-text :class="getDarkTextColor" v-if="company">
                <p v-text="company.name"></p>
                <p v-text="company.bs"></p>
                <div v-if="company.catchPhrase">
                    <blockquote>
                        <v-icon color="primary">mdi-format-quote-open</v-icon>
                        <span v-text="company.catchPhrase"></span>
                        <v-icon color="primary">mdi-format-quote-close</v-icon>
                    </blockquote>
                </div>
            </v-card-text>
        </v-card>
    </v-flex>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    props: {
        title: {
            type: String,
            required: true
        },
        email: String,
        phone: String,
        website: String,
        company: Object,
        address: String,
    },

    computed: {
    	...mapGetters(["GET_DARK_MODE"]),

        getDarkTextColor() {
            return this.GET_DARK_MODE ? 'white--text' : 'black--text'
        },

        getDarkBgColor() {
            return this.GET_DARK_MODE ? '#051d49' : 'white'
        }
  	}
}
</script>