<template>
    <v-flex>
        <router-link :to="`/users/${id}`" tag="article">
            <v-card :color="GET_DARK_MODE ? '#051d49' : 'white'" class="d-flex align-center col-12" width="100%">
                <div class="col-2 col-sm-1 d-flex align-center justify-center">
                    <v-avatar size="36px" class="blue lighten-5">
                        <v-icon>
                            mdi-account
                        </v-icon>
                    </v-avatar>
                </div>
                
                <div class="d-flex flex-column flex-md-row align-center flex-space-between col-8 col-sm-10">
                    <div class="col-12 col-md-8 pa-0">
                        <v-card-title class="pa-0 mb-3">
                            <h2 class="text-subtitle-1 font-weight-bold" :class="GET_DARK_MODE ? 'white--text' : 'black--text'" v-text="name"></h2>
                        </v-card-title>
                        <v-card-subtitle class="pa-0">
                            <h3 class="subtitle-1 blue--text darken-4" v-text="username"></h3>
                        </v-card-subtitle>
                    </div>

                    <div class="col-12 col-md-4 pa-0 text-md-right">
                        <v-btn text x-small color="primary" class="pa-0" style="text-transform: none;">
                            <v-card-text class="pa-0 pa-md-2" @click.prevent="goToMail" v-text="email"></v-card-text>
                        </v-btn>
                    </div>
                </div>

                <div class="col-2 col-sm-1 d-flex align-center justify-center">
                    <v-btn icon color="pink" @click.native.prevent="addToFavorite">
                        <v-icon 
                            :color="is_favorite ? 'pink accent-3' : (GET_DARK_MODE ? 'white' : 'blue-grey lighten-4')"
                        >
                            mdi-heart
                        </v-icon>
                    </v-btn>
                </div>
            </v-card>
        </router-link>
    </v-flex>
</template>

<script>
import { mapGetters, mapActions } from "vuex"

export default {
    props: {
        id: Number,
        name: {
            type: String,
            required: true
        },
        username: String,
        email: String,
        favorite: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            is_favorite: this.favorite
        }
    },

    mounted() {
        this.isFavorite()
    },

    updated() {
        this.isFavorite()
    },

    methods: {
        ...mapActions(["SET_FAVORITES"]),

        goToMail() {
            window.location = `mailto:${this.email}`
        },

        isFavorite() {
            let fav_users = this.GET_FAVORITES
            const idx = fav_users.indexOf(this.username)
            this.is_favorite = idx !== -1 ? true : false
        },

        addToFavorite() {
            let fav_users = this.GET_FAVORITES
            const idx = fav_users.indexOf(this.username)
            
            if (idx === -1) {
                fav_users.push(this.username)
                this.is_favorite = true
            } else {
                const new_list = fav_users.filter(username => username !== fav_users[idx])
                fav_users = new_list
                this.is_favorite = false
            }

            this.SET_FAVORITES(fav_users)
        }
    },

    computed: {
    	...mapGetters(["GET_DARK_MODE", "GET_FAVORITES"]),
  	},
}
</script>