<template>
	<v-app :style="{'background-color': (GET_DARK_MODE ? '#000e28' : 'white')}">
		<Header />
		
		<v-main>
			<router-view />
		</v-main>

		<Footer />
	</v-app>
</template>

<script>
import { mapGetters } from "vuex"

import Header from "@/components/Header"
import Footer from "@/components/Footer"

export default {
  	name: "App",

	components: {
		Header,
		Footer
	},

	computed: {
		...mapGetters(["GET_DARK_MODE"]),
	}
};
</script>
